@import "./global.css";
@import "./grid.css";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--grey1);
    color: var(--grey2);
    font-family: var(--font1);
}


li {
    list-style: none;
}

button {
    background-color: var(--color-primary);
    width: auto;
    height: 2.4375rem;
    border-radius: 0.5rem;
    border: transparent;
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
    padding: 10px;
}

button:hover {
    background-color: var(--color-primary-hover);
}

.title2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.72rem;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 400;
    margin-bottom: 0.625rem;
    margin-top: 2.5rem;
}

.AboutMeSection {
    margin-top: 6.25rem;
    margin-left: 0.9375rem;
    width: 90%;
}

@media (min-width:720px) {
    .AboutMeSection {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 100px;
    }

}